Python:

Python3 or higher is required.


Tabulate:

The Tabulate library is required. Recommended: Tabulate 0.9.0
Install with pip using: pip install tabulate


PyTest:

pytest is required for testing, and executing the test_project.py
Install with pip using: pip install pytest
